.rel_posts {
  border-top: 1px dotted gray;
  padding-top: 20px;
}
.rel_posts:after {
  content: "";
  display: block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  clear: both;
}
.rel_posts ul {
  width: 100%;
}
.rel_posts ul li {
  list-style: none;
  width: 20%;
  float: left;
  margin-left: 20px;
}
.rel_posts ul li .title_rel {
  display: block;
  padding: 4px;
}
